<div *ngIf="tableData!=null">
    <h3>{{tableName}}</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th *ngFor="let fieldName of tableData.data.legend.i">{{fieldName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currentRow of tableData.data.rowSet">
                <td *ngFor="let fieldValue of currentRow; let i = index">
                    <span [ngSwitch]="tableData.data.legend.t[i]">
                    <span *ngSwitchCase="'DATE'">{{fieldValue | date: 'dd.MM.yyyy HH:mm:ss'}}</span>
                    <span *ngSwitchDefault>{{fieldValue}}</span>
                    </span>                    
                </td>
            </tr>
        </tbody>
    </table>    
</div>
