<div style="position:relative; overflow-x: scroll">
    <h3 class="mt-2">{{tableMeta.name}}</h3>
    <form [formGroup]="filterForm">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th *ngFor="let fieldName of tableMeta.legend.i; let i = index" (click) = "setSortColumn(fieldName)">
                    <span class="text-nowrap">
                        {{fieldName}} <i class="fa" [ngClass] = 'getSortIcon(i)' aria-hidden="true" *ngIf="fieldName == tableConfig.orderBy"></i>
                    </span>
                </th>
            </tr>
            <tr>
                <th *ngFor="let fieldName of tableMeta.legend.i">
                    <input class="form-control" type="text" formControlName="{{fieldName}}">
                    <!--<div class="input-group">
                        <input class="form-control form-control-sm" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>                            
                        </span>
                    </div>-->
                </th>
            </tr>
        </thead>
        <tbody *ngIf="rowSet != null">
            <tr *ngFor="let currentRow of rowSet">
                <td *ngFor="let fieldValue of currentRow; let i = index" [ngSwitch]="tableMeta.legend.t[i]">
                        <span *ngSwitchCase="'DATE'" style="word-break: break-word">{{fieldValue | date: 'dd.MM.yyyy HH:mm:ss'}}</span>
                        <span *ngSwitchDefault>{{fieldValue}}</span>
                </td>
            </tr>
        </tbody>
    </table>        
    </form>
    <paginator 
        [currentPage] = "tableConfig.currentPage" 
        [rowsOnPage] = "tableConfig.rowsOnPage" 
        [totalRows] = "tableConfig.totalRows"
        [showPages] = "showPages"
        (onPageSelected)="selectNewPage($event)"></paginator>
</div>

<div class="text-center mt-5" *ngIf="showLoadIcon">
  <i class="fa fa-spinner fa-spin fa-3x text-primary"></i>
</div>

<!--style="word-break: break-word"-->
