<div class="container" style="width: 400px">

    <h1 class="display-4 mt-5">SSYSGw</h1>
    <p>Administrator system console</p>

    <form [formGroup]="form" class="form-signin">
        <div *ngIf="!isSignedIn()">
            <div class="form-group">
                <input id="login" type="text" class="form-control" placeholder="Username" formControlName="login"
                       [(ngModel)]="loginData.login">
                <div *ngIf="form.controls.login.touched && form.controls.login.errors?.required"
                     class="alert alert-danger">
                    Username is required
                </div>
            </div>
            <div class="form-group">
                <input #password id="password" type="password" class="form-control" placeholder="Password"
                       formControlName="password" [(ngModel)]="loginData.password">
                <div *ngIf="form.controls.password.touched && form.controls.password.errors?.required"
                     class="alert alert-danger">
                    Password is required
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{errorMessage}}
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" (click)="onClickLogin()" [disabled]="form.invalid">Sign in</button>
        </div>
        <div *ngIf="isSignedIn()">
            <button class="btn btn-lg btn-primary btn-block" (click)="onClickLogout()">Sign out</button>
        </div>
    </form>
</div>
