<nav class="navbar navbar-toggleable-md navbar-light">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>
<!--<p></p>-->
<!--<ul class="nav nav-pills">-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link active" href="#">Active</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
    <!--</li>-->
<!--</ul>-->
<!--<p></p>-->
<!--<nav class="navbar navbar-toggleable-md bg-primary">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item"><a class="nav-link active" href="#">Home</a></li>-->
      <!--<li class="nav-item"><a class="nav-link" href="#">Features</a></li>-->
      <!--<li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>-->
      <!--<li class="nav-item"><a class="nav-link" href="#">Disabled</a></li>-->
    <!--</ul>-->
<!--</nav>-->
<div class="container-fluid">
    <login-form></login-form>
</div>
