<div class="container" style="width: 400px">            

    <h1 class="display-4">SSYSGw</h1>            
    <p>Administrator system console</p>
    <form class="form-signin">
        <div>
            <p><input id="login" type="text" class="form-control" placeholder="Login"></p>
        </div>
        <div>
            <p><input id="password" type="text" class="form-control" placeholder="Password"></p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>